/*
 |--------------------------------------------------------------------------
 | Fonts
 |--------------------------------------------------------------------------
 |
 | Import all fonts used in the template, the font configuration can be
 | seen in "tailwind.config.js".
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/theme
 |
 */
@import "./fonts/_roboto.css";

/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | Import CSS components.
 |
 */
@import "./components/base/_box.css";
@import "./components/base/_global.css";
@import "./components/base/_image-fit.css";
@import "./components/base/_scrollbar-hidden.css";
@import "./components/base/_typing-dots.css";
@import "./components/base/_zoom-in.css";
@import "./components/base/_intro.css";

/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .boxShadow {
    border: 1px solid rgba(226, 232, 240, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    @apply bg-white;
  }
  .border-gradient {
    border: 0.3px solid transparent;
    background: linear-gradient(
          90deg,
          rgba(100, 50, 201, 0.21) 0%,
          #6432c9 51.79%,
          rgba(100, 50, 201, 0.21) 100%
        )
        padding-box,
      linear-gradient(
          90deg,
          rgba(100, 50, 201, 0.21) 0%,
          #6432c9 51.79%,
          rgba(100, 50, 201, 0.21) 100%
        )
        border-box;
    @apply opacity-30;
  }
  .bg-dot {
    background: url(./bg-dot.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
}
@layer components {
  .scrollbar-hidden {
    &::-webkit-scrollbar {
      @apply w-0 bg-transparent;
    }
  }
}
